.user-category-list-container {
	@media only screen and (min-width: 1023px){
		display: flex;
		justify-content: space-between;
	}
}

.user-category-list{
	margin-top: 0;
	margin-bottom: 0;

	@media only screen and (min-width: 1023px){
		margin-top: rem-calc(27);	
		margin-bottom: rem-calc(10);
		width: rem-calc(308);
	}
}
.user-category-list__label{
	margin-bottom: 6px;
}

.user-category-list__desc{
	margin-top: 10px;
	p{
		margin-bottom: rem-calc(10);
	}
}

.user-category-list__link{
		margin-top: 10px;
		font-weight: bold;
    display: block;
}

.user-category-alert-message{
	display: none;
	color: $alert-text;
	padding-top: rem-calc(10);
	line-height: rem-calc(20);
}

.user-options-category__item.hide-background {
	z-index: 1;
}

.user-category-alert-background{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #fff;
    z-index: -1;
}

.js .profile-dashboard__details__item--edit {
	.user-category-alert-message{
		line-height: rem-calc(20);
		margin-top: rem-calc(10);
	}
}

.user-category-input{

	&:checked {		

		& ~ .user-category-alert-background{
			background: $alert-background;
		}

		& ~ .user-category-alert-label {
			color: $alert-text;

			&::before{
				background-color: $alert-text !important;
				color: $alert-background !important;
				border-color: $alert-text;
			}
		}

		& ~ .user-category-alert-message {
			display: block;
		}
	}
}
