.footer-container,
.primary-panel.footer-container{
	padding-top: rem-calc(20);

	@media #{$medium-up}{
		padding-top: rem-calc(40);
	}
}

.primary-panel.footer-container{
	@media #{$medium-up}{
		padding-bottom: rem-calc(60);
	}
}

.footer-image-container{
	text-align: center;

	img {
		display: block;
		margin: 32px auto
	}

	@media #{$medium-up}{
		display: flex;
		justify-content: space-between;

		img {
			margin: 0;
		}
	}
}

.footer-image {
	height: 64px;
}

.footer-text{
	color: $footer-dark;
//	margin-top: rem-calc(10);

	&-container{
		padding-bottom: rem-calc(10);

		@media #{$medium-up}{
			padding-bottom: rem-calc(30);
		}
	}
}


.footer-text-first{
	color: #104949;

	@media #{$medium-up}{
		font-weight: normal;
	}
}

.footer-confidential-link{
	text-decoration: underline;
	color: $white;
	display: inline-block;
	line-height: rem-calc(60);

	&:hover{
		text-decoration: underline;
	}
}

.footer-strapline{
	text-align: center;
	font-size: rem-calc(16);
	line-height: rem-calc(32);

	&-container {
		padding: rem-calc(30) 0;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
	}

	
	@media #{$medium-up}{
		font-size: rem-calc(18);
	}

}

.footer{

	&-bottom__container{
		margin-top: rem-calc(50);
		background: $oil;
	}

	&-links-list {
		padding-top: 20px;

		@media #{$medium-up}{
			padding-top: 0;
			margin-bottom: 0;
		}

		&-item {
			@media #{$medium-up}{
				display: inline-block;
				margin-right: 30px;
			}
		}
	}

	&-nav-link {
		@extend .header-nav-link;
		line-height: 40px;

		@media #{$medium-up}{
			line-height: 60px;
		}
	}
}
