.link{

	font-size: rem-calc(18);

	&--dark{
		color: $link-color;

		&__icon{
			background: $link-color;
		}
	}

	&:hover, &:focus{
		 cursor: pointer;

		.link--dark{
			color: $link-color-hover;

			.link--dark__icon{
				background: $link-color-hover;
			}
		}


	}

	&__promo {
		font-size: rem-calc(18);
		font-weight: bold;
	}

	&__back-arrow {
		font-weight: bold;
		
		&:before{
			content: $symbol-arrow-left;
			font-family: $symbol-font-family;
			font-size: rem-calc(20);
			margin-right: 10px;
			vertical-align: bottom;
		}
	}

	&__forward-arrow {
		font-weight: bold;

		&:after{
			content: $symbol-arrow-right;
			font-family: $symbol-font-family;
			font-size: rem-calc(20);
			margin-left: 10px;
			vertical-align: bottom;
		}
	}

	&__video{
		font-weight: bold;
	}

	.ss-icon{
		background-color: $link-color;
		color: $white;
		font-size: rem-calc(16);
		border-radius: 30px;
		display: inline-block;
	    width: rem-calc(30);
	    height: rem-calc(30);
	    margin-right: rem-calc(10);
	    vertical-align: text-top;

	    &::before{
	    	margin-left: rem-calc(2);
	    }

	}

	.ss-play{

		&::before{
			// Align video icon to center of container
			margin-left: rem-calc(5);
			line-height: rem-calc(34);
		}
	}

	&:hover, &:focus{

		.ss-icon {
		   	background-color: $link-color-hover;
		}
	}
}