.menu-inline-list {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0;

	& > li {
		display: block;
    float: left;
    list-style: none;
	}
}

.menu-row {
	background-color: $menu-background-current;
	@media #{$medium-up}{
		background-color: none;
	}
}

.menu-container-column {
	position: relative;
}

.menu-list {

	display: none;
	padding-top: rem-calc(20);
	background-color: $menu-background-current;

	&.active{

		height: 300vh;
		display: block;
		z-index: 1000;
		
		@media #{$medium-up}{
			position: absolute;
		}
	}
	
}

.menu-item {

	line-height: rem-calc(50);

	@media #{$medium-up}{
		min-width: 240px;
		padding: 0 rem-calc(32);
	}

	&--separator {
		&:before {
			content: '';
			margin-top: 20px;
			margin-bottom: 20px;
			height: 2px;
			background-color: rgba(255, 255, 255, 0.3);
			display: block;
			padding-left: 0;
			margin-left: rem-calc(-20);
			margin-right: rem-calc(-20);

			@media #{$medium-up}{
				margin-left: rem-calc(-32);
				margin-right: rem-calc(-32);
			}
		}
	}

}

.menu-item-link {
	color: $menu-color;
	text-decoration: none;

	&:hover, &:visited, &:focus {
		color: $menu-color;
		text-decoration: none;
	}
}

.menu-button {
	.menu-icon-close {
		display: none;
	}

	&.active {

		.menu-icon-close {
			display: inline-block;
		}
		
		.menu-icon-open {
			display: none;
		}
	}
}

.content-container{
	min-height: 100vh; // ensures menu goes to bottom of screen
}

.inner-wrap{
	min-height: rem-calc(540); // For when page is smaller than menu
}
ul.off-canvas-list{
	text-align: center;

	.off-canvas-list__item--current{
		background: $mood-monitor-colour;


		a,
		a:hover{
			background: initial;
			color: $oil;	
		}

	}

	.off-canvas-list__item{
		font-weight: bold;
		font-size: rem-calc(20);
		line-height: rem-calc(60);

		a{
			padding-left: $column-gutter;
			padding-right: $column-gutter;	
			text-decoration: none;		
		}

	}

}

.off-canvas-wrap.move-left{
	.header-nav-link-list{
		.right-off-canvas-toggle{
			visibility: hidden;
		}
	}	
}

.no-js {
	.left-off-canvas-menu{
		position: relative;
		width: 100%;
		@include translate3d(0, 0, 0);
	}

	.off-canvas-list{
		padding-top: 0;

		.off-canvas-list__item{
			line-height: rem-calc(48);
			
			@media #{$medium-up}{
				display: inline;

				&:after{
					content:" | ";
					color: $white;
				}

				&:last-of-type:after{
					content: "";
				}				

				a {
					display: inline;
				}

			}

		}

		.current-locale{
			display: none;
		}


	}

}