@import "slick.scss";

.slick-slide {
	height: inherit;
}

// Hide while initialising to prevent FOUC
.js{

	.slick-carousel-container{

		>div.profile-question{
			display: none;

			&:first-of-type{
				display: block;
			}
		}


		&.slick-active{
			>div.profile-question{
				display: block;
			}
		}
	}

}


.slick-list {
	margin-bottom: rem-calc(4);

	@media #{$medium-up}{
		margin-bottom: rem-calc(20);
	}

}

.slick-prev,
.slick-next{
	@extend .round;

	font-size: rem-calc(18);
	padding: 0 rem-calc(30);
	line-height: rem-calc(50);
	min-width: rem-calc(130);
	width: 100%;
	font-weight: bold;

	@media #{$medium-up}{
		min-width: rem-calc(140);
		max-width: rem-calc(308);
		font-size: rem-calc(24);
		line-height: rem-calc(60);

	}
}

.slick-prev{
	@extend .button--invert;
	float: left;
}

.slick-next{
    margin: 0 auto;
    display: inherit;
    background-color: $primary-color;

    &__container{
    	position: relative;
			text-align: center;
		}
}

.no-js {
	.slick-next__container-js{
		display: none;
	}
}

.slick-prev.slick-disabled {
	display: none;
}

.slick-skip{
		 @extend .link--dark;
    line-height: rem-calc(63);
    font-size: rem-calc(18);
    font-weight: bold;


	@media #{$medium-up}{
		position: absolute;
	    top: 3px; //to align with button font
	    right: 0;
	    font-size: rem-calc(24);
	}

}

.slick-dots{

	text-align: center;
	margin-bottom: 0;

	button{
		font-size: 0;
		height: rem-calc(16);
		width: rem-calc(16);
		padding: 0;
		margin: 0 rem-calc(5);
		background-color: rgba(0,0,0,0.2);

		@include border-radius(rem-calc(16));
	}

	li {
		display: inline;
	}
}
