@import "slick.scss";

.slick-slide {
	height: inherit;
}

// Hide while initialising to prevent FOUC
.js{

	.slick-carousel-container{

		>div.profile-question{
			display: none;

			&:first-of-type{
				display: block;
			}
		}


		&.slick-active{
			>div.profile-question{
				display: block;
			}
		}
	}

}


.slick-list {
	margin-bottom: 0;

}


.slick-next__container-js{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		
		.hidden {
			visibility: hidden;
		}
}

.no-js {
	.slick-next__container-js{
		display: none;
	}
}

.slick-prev.slick-disabled {
	display: none;
}

.slick-dots{

	text-align: center;
	margin-bottom: 0;

	button{
		font-size: 0;
		height: rem-calc(16);
		width: rem-calc(16);
		padding: 0;
		margin: 0 rem-calc(5);
		background-color: rgba(0,0,0,0.2);

		@include border-radius(rem-calc(16));
	}

	li {
		display: inline;
	}
}
