{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% if allowNoLogin is not defined  %}
	{% if entry is not defined or entry.pagePermission is not defined or
		entry.pagePermission is null or not
		entry.pagePermission.title('viewWhenLoggedOut').all()  %}
			{% requireLogin %}
	{% endif %}
{% endif %}

{% set lastViewed = craft.userLogin.updateLastViewed() %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex" />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<link href="//fonts.googleapis.com/css?family=Lato:400,300,700,400italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<!-- build:css /resources/css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
	<!-- endbuild -->

	<script type="text/javascript">
	    window.craftSettings = {
	    	csrfTokenName: "{{ craft.app.config.general.csrfTokenName|e('js') }}",
	    	csrfTokenValue: "{{ craft.app.request.csrfToken|e('js') }}",
	    	actionTrigger: "{{ craft.app.config.general.actionTrigger }}",
	    	language: "{{ craft.app.language }}",
	    }

	</script>


<!-- build:bower /resources/js/vendor.js -->
	    <script src="/js/vendor/modernizr/modernizr.custom.38106.js"></script>
	    <script src="/bower_components/jquery/dist/jquery.js"></script>
	    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
	    <script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
	    <script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
	    <script src="/bower_components/jquery-visible/jquery.visible.min.js"></script>
	    <script src="/bower_components/foundation/js/foundation/foundation.js"></script>
	    <script src="/bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
	    <script src="/bower_components/foundation/js/foundation/foundation.abide.js"></script>
	    <script src="/bower_components/foundation/js/foundation/foundation.reveal.js"></script>

	    <!-- Bespoke version of magellan to allow event triggers -->
	    <script src="/js/vendor/foundation/foundation.magellan.js"></script>
		<!-- Bespoke version of slider to work in slick carousel -->
	    <script src="/js/vendor/foundation/foundation.slider.js"></script>

	    <script type="text/javascript" src="/bower_components/slick.js/slick/slick.min.js"></script>

	    <script type="text/javascript" src="/bower_components/handlebars/handlebars.runtime.min.js"></script>
		<!-- Polyfills -->
	    <script type="text/javascript" src="/bower_components/picturefill/dist/picturefill.min.js"></script>

	    <script src="/js/vendor/jwplayer-7.0.0/jwplayer.js"></script>

	<!-- endbuild -->

		<script>
			jwplayer.key = "RXgLBLBKEefsJKHVQMe1QQ5IFuWu8zok55wijw==";
		</script>

		<script>
      var craftEventTracker = {
        sendEvent: params => {
          console.log("Event tracker", params);
        }
      };
    </script>

	<!-- build:js /resources/js/app.min.js -->
	    <script src="/js/app.js"></script>
	    <script src="/js/nav.js"></script>
	    <script src="/js/module.js"></script>
	    <script src="/js/profile.js"></script>
	    <script src="/js/profile-goals.js"></script>
	    <script src="/js/profile-stuff-i-like.js"></script>
	    <script src="/js/mood-monitor.js"></script>
	    <script src="/js/dashboard.js"></script>
	    <script src="/js/homepage.js"></script>
	    <script src="/js/my-answers.js"></script>
	    <script src="/js/slick-carousel.js"></script>
	    <script src="/js/hb-templates.js"></script>
	    <script src="/js/feature-block/feature-block-quiz.js"></script>
	    <script src="/js/feature-block/feature-block-case-study.js"></script>
	    <script src="/js/feature-block/feature-block-options.js"></script>
	    <script src="/js/feature-block/feature-block-save-profile-modal.js"></script>
	    <script src="/js/feature-block/feature-block-feedback.js"></script>
	    <script src="/js/feature-block/four-image-click-to-open.js"></script>
	    <script src="/js/feature-block/feature-block-collapsible.js"></script>

	<!-- endbuild -->


	{% if craft.app.config.general.useBugherd %}
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=lmzn5sytgnnwwr1dlgqrzg';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>
	{% endif %}
</head>

<body>
	<div id="container">

		<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			 {% set headers = craft.app.request.getHeaders() %} 
			{% if headers['moodhwbapp'] is not defined %}
			  {% include "./_partials/header.twig" %}
			{% endif %}

			<div class="content-container">
				<main id="content" role="main">
						{% block content %}
							<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
							<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
						{% endblock %}
				</main>

				<footer class="footer-container">


				<div class="row">
					<div class="text-center small-12 columns">
						<div class="footer-text-container">
							<div class="footer-text footer-text-first">{{ "Funded by the Welsh Government through Health and Care Research Wales" | t }}.</div>
							<div class="footer-text">{{ "Also supported by" | t }}</div>
						</div>
						<div class="footer-image-container">
							<img class="footer-image" src="/resources/images/cu-logo.png" alt="Cardiff University logo" />
						</div>
						<div class="footer-image-container">

							<img class="footer-image" src="/resources/images/ncmh-logo.png" alt="National Centre for Mental Health logo" />
						</div>
						<div class="footer-image-container">
							<img class="footer-image" src="/resources/images/nhs-logo.png" alt="NHS National Institute for Health Research logo" />
						</div>

						<div class="footer-image-container">
							<img class="footer-image" src="/resources/images/hcrwales-logo.png" alt="Health and Care Research Wales logo" />
						</div>
						<div class="footer-image-container">
							<img class="footer-image" src="/resources/images/nhswales-logo.png" alt="NHS Wales logo" />
						</div>
					</div>
				</div>

				<div class="footer-bottom__container">
					<div class="row">
						<div class="small-12 column">
							<ul class="footer-links-list">
								<li class="footer-links-list-item">
									<a class="footer-nav-link" href="{{ url('help/cookies') }}">{{ "Cookies" | t}}</a>
								</li>
								<li class="footer-links-list-item">
									<a class="footer-nav-link" href="{{ url('help/confidentiality') }}">{{ "Privacy policy" | t}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				</footer>
			</div>
		</div>
		</div>
	</div>




	<script>
	  $(document).foundation({
	  	"magellan-expedition": {
	  		"destination_threshold": 70
	  	}
	  });

	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62774221-3', 'auto');
	  ga('send', 'pageview');

	</script>
	{% block jsBlock %}
	{% endblock %}




</body>
</html>
