{% if optionsId is defined %}
<ul id="List{{ optionsId }}" class="feature-block-option-mylist" data-cat="{{ categoryName }}">
	<li class="feature-block-option-mylist--empty">{{ "You haven't selected anything in this section" | t}}</li>
</ul>
{% endif %}