<div class="svg-icon svg-face-5">
<svg width="258" height="214" viewBox="0 0 258 214" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="39" y="153" width="179" height="65">
<path fill-rule="evenodd" clip-rule="evenodd" d="M217.184 217.349H39.105V153.884H217.184V217.349Z" fill="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.579 154.335C129.579 154.335 85.4181 147.624 48.0811 185.96C40.1464 194.107 37.1709 205.887 40.3701 216.807L57.2096 274.287L50.1242 393.286C48.2473 435.195 82.5244 469.769 124.393 468.199L125.178 468.169L137.634 467.802C177.203 466.637 208.333 433.566 207.152 393.947L202.437 274.777L216.191 216.718C219.304 203.574 214.985 189.75 204.866 180.814C190.417 168.053 165.697 153.205 129.579 154.335Z" fill="#FEC236"/>
</g>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="182" width="76" height="37">
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.3013 218.597H0.61377L0.61377 182.725H75.3013V218.597Z" fill="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M45.8274 188.542C25.7843 211.528 2.55672 257.699 0.61715 348.806C0.465051 355.944 5.46129 362.16 12.468 363.49L12.7512 363.544C21.2501 365.158 29.2634 359.044 29.9849 350.413C32.5725 319.443 40.0573 256.495 57.2093 275.535L57.3901 275.547C67.0822 276.199 75.3013 268.502 75.3013 258.776V199.556C75.3013 183.995 56.0487 176.82 45.8274 188.542Z" fill="#FEC236"/>
</g>
<mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="183" y="182" width="75" height="37">
<path fill-rule="evenodd" clip-rule="evenodd" d="M258 218.597H183.312L183.312 182.725H258V218.597Z" fill="white"/>
</mask>
<g mask="url(#mask2)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M212.786 188.542C232.829 211.528 256.057 257.699 257.997 348.806C258.149 355.944 253.152 362.16 246.146 363.49L245.863 363.544C237.364 365.158 229.35 359.044 228.629 350.413C226.041 319.443 218.556 256.495 201.404 275.535L201.224 275.547C191.531 276.199 183.312 268.502 183.312 258.776V199.556C183.312 183.995 202.565 176.82 212.786 188.542Z" fill="#FEC236"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.548 169.204C121.491 169.204 114.849 162.663 114.849 154.595V117.749C114.849 109.681 121.491 103.14 129.548 103.14C137.604 103.14 144.246 109.681 144.246 117.749V154.595C144.246 162.663 137.604 169.204 129.548 169.204Z" fill="#FEC236"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.433 115.147L60.7452 124.472C60.7452 124.472 9.23148 61.1686 66.0607 24.0268C66.0607 24.0268 104.519 -4.35645 135.303 42.802C144.096 56.2724 149.679 67.3743 153.167 76.3609C159.784 93.3988 155.364 112.639 142.077 125.162C127.032 139.342 104.175 154.121 88.3218 133.361L76.433 115.147Z" fill="#FEC236"/>
</svg>
 </div>
