<div class="svg-icon svg-face-7">
<svg width="258" height="214" viewBox="0 0 258 214" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_4479_8776)">
<rect width="258" height="214" fill="none"/>
<mask id="mask0_4479_8776" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="35" y="147" width="185" height="66">
<path fill-rule="evenodd" clip-rule="evenodd" d="M219.725 212.71H35.7627V147.148H219.725V212.71V212.71Z" fill="white"/>
</mask>
<g mask="url(#mask0_4479_8776)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.226 147.615C129.226 147.615 83.6058 140.681 45.0354 180.284C36.8386 188.701 33.7648 200.87 37.0696 212.151L54.4654 271.53L47.146 394.46C45.207 437.753 80.6165 473.469 123.868 471.847L124.68 471.817L137.547 471.437C178.423 470.234 210.581 436.07 209.362 395.142L204.491 272.035L218.699 212.058C221.915 198.48 217.453 184.199 207 174.968C192.073 161.786 166.537 146.447 129.226 147.615Z" fill="#67A36D"/>
</g>
<mask id="mask1_4479_8776" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-4" y="176" width="78" height="38">
<path fill-rule="evenodd" clip-rule="evenodd" d="M73.1549 214H-4L-4 176.944H73.1549V214V214Z" fill="white"/>
</mask>
<g mask="url(#mask1_4479_8776)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M42.7073 182.952C22.0021 206.698 -1.99286 254.395 -3.99651 348.511C-4.15363 355.885 1.00766 362.306 8.24589 363.681L8.53835 363.736C17.3181 365.403 25.5961 359.087 26.3414 350.171C29.0145 318.178 36.7466 253.151 54.4652 272.82L54.652 272.832C64.6643 273.505 73.1549 265.555 73.1549 255.507V194.33C73.1549 178.255 53.2663 170.843 42.7073 182.952Z" fill="#67A36D"/>
</g>
<mask id="mask2_4479_8776" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="184" y="176" width="78" height="38">
<path fill-rule="evenodd" clip-rule="evenodd" d="M261.889 214H184.734L184.734 176.944H261.889V214V214Z" fill="white"/>
</mask>
<g mask="url(#mask2_4479_8776)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M215.182 182.952C235.887 206.698 259.882 254.395 261.886 348.511C262.043 355.885 256.882 362.306 249.643 363.681L249.351 363.736C240.571 365.403 232.293 359.087 231.548 350.171C228.875 318.178 221.143 253.151 203.424 272.82L203.237 272.832C193.225 273.505 184.734 265.555 184.734 255.507V194.33C184.734 178.255 204.623 170.843 215.182 182.952" fill="#67A36D"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.193 162.974C120.87 162.974 114.009 156.218 114.009 147.883V109.819C114.009 101.485 120.87 94.7285 129.193 94.7285C137.516 94.7285 144.377 101.485 144.377 109.819V147.883C144.377 156.218 137.516 162.974 129.193 162.974" fill="#67A36D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M66.0947 76.574L47.9524 71.4471C47.9524 71.4471 58.7683 -12.1677 127.009 4.0143C127.009 4.0143 175.624 12.6559 162.169 69.2556C158.326 85.4227 153.975 97.5002 149.72 106.504C141.656 123.577 124.095 133.944 105.262 132.89C83.9384 131.697 56.6112 125.075 60.898 98.4334L66.0947 76.574Z" fill="#67A36D"/>
<rect x="66" y="201" width="128" height="16" fill="#67A36D"/>
</g>
<defs>
<clipPath id="clip0_4479_8776">
<rect width="258" height="214" fill="white"/>
</clipPath>
</defs>
</svg>
</div>
