<div class="svg-icon svg-face-7">
<svg width="258" height="214" viewBox="0 0 258 214" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="39" y="157" width="179" height="65">
<path fill-rule="evenodd" clip-rule="evenodd" d="M217.185 221.349H39.1051V157.884H217.185V221.349Z" fill="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.579 158.335C129.579 158.335 85.4182 151.624 48.0812 189.96C40.1466 198.107 37.1711 209.887 40.3702 220.807L57.2097 278.287L50.1243 397.286C48.2474 439.195 82.5245 473.769 124.393 472.199L125.178 472.169L137.634 471.802C177.203 470.637 208.333 437.566 207.152 397.947L202.437 278.777L216.191 220.718C219.304 207.574 214.985 193.75 204.867 184.814C190.417 172.053 165.697 157.205 129.579 158.335Z" fill="#50A667"/>
</g>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="186" width="76" height="37">
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.3014 222.597H0.613831L0.613831 186.725H75.3014V222.597Z" fill="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M45.8275 192.542C25.7844 215.528 2.55678 261.699 0.617211 352.806C0.465112 359.944 5.46135 366.16 12.4681 367.49L12.7512 367.544C21.2502 369.158 29.2635 363.044 29.985 354.413C32.5726 323.443 40.0574 260.495 57.2093 279.535L57.3902 279.547C67.0823 280.199 75.3014 272.502 75.3014 262.776V203.556C75.3014 187.995 56.0488 180.82 45.8275 192.542Z" fill="#50A667"/>
</g>
<mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="183" y="186" width="75" height="37">
<path fill-rule="evenodd" clip-rule="evenodd" d="M258 222.597H183.312L183.312 186.725H258V222.597Z" fill="white"/>
</mask>
<g mask="url(#mask2)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M212.786 192.542C232.829 215.528 256.057 261.699 257.997 352.806C258.149 359.944 253.152 366.16 246.146 367.49L245.863 367.544C237.364 369.158 229.35 363.044 228.629 354.413C226.041 323.443 218.556 260.495 201.404 279.535L201.224 279.547C191.532 280.199 183.312 272.502 183.312 262.776V203.556C183.312 187.995 202.565 180.82 212.786 192.542Z" fill="#50A667"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.548 173.204C121.491 173.204 114.849 166.663 114.849 158.595V121.749C114.849 113.681 121.491 107.14 129.548 107.14C137.604 107.14 144.246 113.681 144.246 121.749V158.595C144.246 166.663 137.604 173.204 129.548 173.204Z" fill="#50A667"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M73.7688 93.959L55.7573 91.0185C55.7573 91.0185 56.9864 9.41254 124.394 17.4894C124.394 17.4894 172.1 20.4672 165.368 76.3799C163.446 92.3508 160.586 104.444 157.482 113.571C151.599 130.876 135.846 142.774 117.618 143.826C96.9781 145.018 69.9687 141.647 71.1689 115.553L73.7688 93.959Z" fill="#50A667"/>
</svg>
</div>
