	{% set footerEntryList = craft.entries.slug('footer') %}
	{% set footerEntry = footerEntryList.one() %}

	<div class="row">
	<div class="small-12 column text-center">
		<h4 class="light-heading home-footer-heading">{{ footerEntry.footerHeading }}</h4>
		<div class="home-footer-text">
		{{ footerEntry.footerText }}
		</div>

		<a class="button round home-footer-button" href="{{ footerEntry.footerButtonLink.one().url }}">{{ footerEntry.footerButtonText }}</a>
	</div>
	</div>
