{#
    # Language Switcher
    # -----------------
    #
    # This partial creates a list of available languages
    #
    #}
   
   {% block locale__switch %}
   
     {% if entry is defined %}
   
       {% for siteForEntry in entry.getSupportedSites %}
         {# get the site #}
         {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
         {# check if it's the current site #}
         {% if site.id is not same as(entry.siteId) %}
           {# if it's not the current site, get the entry for this site #}
           {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
           <li class="off-canvas-list__item ">
             <a href="{{ entryForOtherSite.getUrl() }}">{{ site.handle | t }}</a>
           </li>
         {% endif %}
       {% endfor %}
   
   
     {% endif %}
   
   
   {% endblock %}
   