<div class="footer-strapline">

		<div class="row footer-strapline-row">
			<div class="small-12 column text-center">
				<div class="footer-strapline-container">
					<strong>Mood:</strong> (noun, English) A state of mind or feeling. 
					<strong>Hwb:</strong> (noun, Welsh) 1) hub; 2) boost, lift, fillip.
				</div>
			</div>
		</div>
		
</div>