<div class="footer-strapline">

	

	{% if craft.app.language == "cy-GB" %}

	{% else %}
		<div class="row show-for-small-only">
			<div class="small-12 column">
				<strong>Mood</strong>: (noun, English) A state of mind or feeling. 
			</div>
			<div class="small-12 column">
				<strong>Hwb</strong>: (noun, Welsh) 1) hub; 2) boost, lift, fillip.
			</div>
		</div>
		<div class="show-for-medium-up text-center">
				Mood: (noun, English) A state of mind or feeling. 
				Hwb: (noun, Welsh) 1) hub; 2) boost, lift, fillip.
		</div>
		
	{% endif %}
	

	<div class="row">
		<div class="small-4 small-offset-4 column">
		<hr class="footer-strapline-rule">
		</div>
	</div>
</div>