{% set hideMainMenu = true %}
{% extends "_layout" %}

{% block content %}

<div class="login-container primary-panel">

<div class="row">
<div class="small-12 column ">

<h1 class="light-heading login-heading text-center">
   {% if errorMessage is defined %}
{{ "That password or email appears to be wrong"|t}}</h1>
   {% else %}
{{ "Welcome to MoodHwb"|t}}</h1>
   {% endif %}

</div>
</div>

{% if craft.app.request.getQueryParam('status') %}
<div class="row">
<div class="small-12 column">

<p class="login-message">
{% switch craft.app.request.getQueryParam('status') %}

    {% case "passwordsent" %}
        {{ "An email to reset your password has been sent"|t}}

    {% case "passwordreset" %}
        {{ "Your new password has been set"|t}}

    
{% endswitch %}
</p>

</div>
</div>
{% endif %}

<div class="row">
<div class="small-12 column">

    <form method="post" accept-charset="UTF-8" class="login-form">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="users/login">
        <input id="rememberMe" type="hidden" name="rememberMe" value="1">

    <div class="login-input-container">
        <label for="loginName" class="login-label">{{"Enter your email address"|t}}</label>
        <input id="loginName" class="radius login-input" type="text" name="loginName"
            value="{{ craft.app.user.rememberedUsername }}" required aria-required="true" placeholder="{{ "Username" | t }}">
    </div>

    <div class="login-input-container">
        <label for="password" class="login-label">{{"Enter your password"|t}}</label>
        <input id="password" type="password" class="radius login-input" name="password" required aria-required="true" placeholder="{{ "Password" | t }}">
    </div>

    <div class="text-left login-radio-row">
        <div class="login-label">{{"Choose your language"|t}}</div>

        <div class="user-options-category__item profile-user-options__category profile-user-options__category--first   profile-user-options__category--column-start  profile-user-options__notmycategory input-custom-checkbox-container">
            <div class="input-custom-radio-container">
                <input id="langEnglish"  class="login-radio" type="radio" value="en-GB" name="language" {% if craft.app.language == "en-GB" %}checked{% endif %}>
                <label for="langEnglish" class="login-label">English</label>
            </div>
        </div>

        <div class="user-options-category__item profile-user-options__category  profile-user-options__category--last   profile-user-options__category--column-end profile-user-options__notmycategory input-custom-checkbox-container">
            <div class="input-custom-radio-container">
                <input id="langWelsh"  class="login-radio" type="radio" value="cy-GB" name="language" {% if craft.app.language == "cy-GB" %}checked{% endif %}>
                <label for="langWelsh" class="login-label">Cymraeg</label>
            </div>
        </div>
    </div>

    <div>

        <input class="button login-submit" type="submit" value="{{ 'Sign in to MoodHwb' | t }}">

    </div>
    <div>
    <a class="login-forgot" href="{{ url('forgotten-password') }}">{{ "Forgot your password" | t }}?</a>
    </div>

    </form>





</div>
</div>

</div>
{% endblock %}