{% set hideMainMenu = true %}
{% extends "_layout" %}

{% block content %}

<div class="login-container text-center primary-panel">

	<div class="row">
	<div class="small-12 column">

	<h1 class="light-heading login-heading">{{ "Please enter your username"|t}}</h1>

	</div>
	</div>

	<div class="row">
	<div class="small-12 column">

	<form method="post" accept-charset="UTF-8" class="login-form">
	    {{ getCsrfInput() }}
	    <input type="hidden" name="action" value="users/forgotPassword">
	    <input type="hidden" name="redirect" value="{{ url('login') }}?status=passwordsent">

	<div>

	    <input id="loginName" type="text" name="loginName"
	        value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}" class="radius login-input" placeholder="{{ "Username" | t }}">
	</div>

	    {% if errors is defined %}
	    <div class="row">
		<div class="small-12 column">
	        <ul class="errors">
	            {% for error in errors %}
	                <li>{{ error }}</li>
	            {% endfor %}
	        </ul>
		</div>
		</div>

	    {% endif %}

	<div>
	    <input class="button round login-submit" type="submit" value="{{ 'Email my password' | t }}">
	</div>

	</form>

	</div>
	</div>
</div>

{% endblock %}