{% set hideMainMenu = true %}
{% extends "_layout" %}

{% block content %}

<div class="login-container text-center primary-panel">

	<div class="row">
	<div class="small-12 column">

	<h1 class="light-heading login-heading">{{ "Please enter your new password"|t}}</h1>

	</div>
	</div>


	<div class="row">
	<div class="small-12 column">

	<form class="login-form" method="post" accept-charset="UTF-8" data-abide>
    {{ getCsrfInput() }}
    <input type="hidden" name="redirect" value="{{ url('login') }}?status=passwordreset">
    <input type="hidden" name="action" value="users/setPassword">
    <input type="hidden" name="code" value="{{ code }}">
    <input type="hidden" name="id" value="{{ id }}">


    <div>
	    <input id="newPassword" class="radius login-input" type="password" name="newPassword" placeholder="{{ "New password"|t }}">
    </div>

	<div>
	    <input id="confirmPassword" class="radius login-input" type="password" name="confirmPassword" data-equalto="newPassword" placeholder="{{ "Confirm password"|t }}">
		<small class="error login-error">{{ "The passwords you entered did not match. Please try again" | t}}</small>
	</div>

    {% if errors is defined %}
	 <div class="row">
		<div class="small-12 column">
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
		</div>
	</div>
    {% endif %}

	<div>
	    <input class="button round login-submit" type="submit" value="{{ 'Submit' | t }}">
	</div>	

</form>
</div>
</div>

</div>

{% endblock %}