.no-js {

	// User defined options list requires JS to work so hide
	.feature-block-option-mylist-container{
		display: none;
	}
}

.feature-block-option-mylist-container{
	margin-top: rem-calc(30);

	@media #{$medium-up}{
		margin-top: rem-calc(20);
	}
}

.feature-block-option-heading{
	margin-top: rem-calc(-5); // To align heading at top (line-height - font-size / 2)

	@media #{$medium-up}{
		margin-top: rem-calc(-10);
	}
}

.feature-block-option-mylist{
	margin-bottom: 0;
}

.feature-block-option-mylist--empty{
	color: $white;
}

.feature-block-option-mylist__item{
	padding: rem-calc(5) rem-calc(16);
	background-color: rgba(51,51,51,0.5);
	margin-top: 0;
	margin-bottom: rem-calc(15);
	margin-right: rem-calc(4);

	&:focus, &:hover{
		color: $white;
		cursor: inherit;
		background-color: rgba(51,51,51,0.8);
	}

	& + .feature-block-option-mylist--empty{
		display: none;
	}
}



.feature-block-option-mylist-input{
	margin-top: rem-calc(10);
	margin-right: rem-calc(20);
	min-width: rem-calc(300);
}

.feature-block-option-mylist-input-url{
	@media #{$small-only}{
		margin-top: rem-calc(20);
	}
}

.feature-block-option-subheading{
	font-size: rem-calc(20);
}

.feature-block-option-mylist-delete{

	margin-left: rem-calc(10);

	&:before{
		content: $symbol-delete;
		font-family: $symbol-font-family;
		font-size: rem-calc(10);
	}

	&:hover{
		cursor: pointer;
	}
}

.feature-block-option-mylist-add{
	@extend .feature-block-option-mylist__item;
    display: block;
    height: rem-calc(40);
}
