.feature-block-case-study-container{
	padding-bottom: 0;
}



.feature-block-case-study-quote{
	font-size: rem-calc(24);
	line-height: rem-calc(36);
	font-weight: bold;
	position: relative;
	display: block;

	@media #{$medium-up}{
		font-size: rem-calc(28);
		line-height: rem-calc(40);
	}

}

.feature-block-case-study-sub-item-container {
	margin-top: 30px;
	@media #{$medium-up}{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 30px -10px -30px -10px;
	}
}

.feature-block-case-study-sub-item {
	margin-bottom: rem-calc(30);

	@media #{$medium-up}{
		width: 306px;
		margin: 0 10px 80px 10px;
	}

	.feature-block-case-study-sub-item__image {
		margin-bottom: 20px;
	}
}

.feature-block-case-study-image{

	@include border-radius(200px);

}

.feature-block-case-study-more-container {
	position: relative;
	background: $white;
	border-radius: 6px;
	padding: 0 rem-calc(20);
	margin-top: rem-calc(42);

	&:before{
		content: $symbol-module-arrow;
		font-family: $symbol-font-family;
		color: $white;
		
			position: absolute;
			top: -20px;
			left: 35px;
			font-size: rem-calc(24);
			display: block;
			width: 100%;
			max-height: rem-calc(30);
			overflow-y: hidden;

		@media #{$medium-up}{
			left: 60px;
		}
	}

}

.feature-block-case-study-link{
	color: $primary-color !important;
	font-weight: bold;
	font-size: rem-calc(20);
	line-height: rem-calc(60);
	display: block;
	text-decoration: none;

	@include nav-arrow();
	&:after {
		top: rem-calc(15); // Slighly adjust vertical centering of arrow
	}

	&:focus, &:hover{
		text-decoration: none;
	}
}

.feature-block-case-study-text{
	max-height: rem-calc(500);
	padding-bottom: rem-calc(20);

	.feature-block-case-study-text-container{
		padding-top: rem-calc(20);
		color: $oil;
	}

	overflow: hidden;

	@include transition-property(max-height);
	@include transition-duration(0.25s);
	@include transition-timing-function(linear);

	@media #{$medium-up}{
		padding-bottom: rem-calc(10);
	}
}

.module-nav--closed{
	.feature-block-case-study-text{
		max-height: 0;
		padding-bottom: 0;
	}
}
