.no-js {
	.feature-block-button {
		background: rgba(255,51,51,0.6);
	}	
	
	.feature-block-quiz-answer-correct{
		.feature-block-button {
			background: rgba(51,255,51,0.6);
		}
	}
}

.feature-block-quiz {
	background: $profile-colour;
	padding-top: 20px;
	padding-bottom: 20px;
	 @media #{$medium-up} {
		padding-top: 30px;
		padding-bottom: 30px;
	 }

	.slick-dots button {
		width: 10px;
		height: 10px;
	}

	.slick-active>button {
		background: $primary-text-color !important;
	}

	&-button {
		width: 100%;
		min-height: 50px;
		padding: 0px 10px;
    background: #fff;
		color: $primary-text-color;
    border: 2px solid $primary-text-color;
    border-radius: $button-radius;
		font-weight: bold;
	}
}

.feature-block-quiz-question,
.feature-block-quiz-complete{
	font-size: rem-calc(22);
	line-height: rem-calc(30);
	font-weight: bold;
	text-align: center;

	@media #{$medium-up}{
		font-size: rem-calc(28);
		line-height: rem-calc(40);
	}


}


.feature-block-quiz-answer-list{
	margin-top: rem-calc(30);
	margin-bottom: 0;

	.feature-block-button{
		margin-bottom: rem-calc(10);
	}

	.feature-block-quiz-answer-item {
		margin-bottom: 10px;
	}

	@media #{$small-only}{
		li.feature-block-quiz-answer-item{
			&:last-of-type{
				.feature-block-button{
					margin-bottom: 0;				
				}
			}
		}
	}

	@media #{$medium-up}{
		@include display-flex;
		@include flex-direction(row);

		.feature-block-quiz-answer-item {
			@include flex(1);
			margin: 0 10px;
		}

		.feature-block-button{
			margin-bottom: 0;
		}
	}



}
.no-flexbox {
	.feature-block-quiz-answer-list{
		@media #{$medium-up}{
	        display: table;
	        width: 100%;	

	        .feature-block-quiz-answer-item {
				display: table-cell;
				border-spacing: 5px;
	        }
		}	

	}
}

.feature-block-quiz-question-container {

	margin: 0 1px;

	.slick-dots {
		margin-bottom: rem-calc(30);
	}
	
	.feature-block-quiz-chosen-answer,
	.feature-block-quiz-chosen-answer:focus,
	.feature-block-quiz-chosen-answer:hover {
		background: #FCF3F3;
		color: #DE020D;

		&:after{
			content: $symbol-cross;
			font-family: $symbol-font-family;
			font-size: 32px;
			position: absolute;
			top: 9px;
			right: 10px;
			width: 32px;
			height: 32px;
		}
	}
}

.feature-block-quiz-answer-correct {
	.feature-block-quiz-chosen-answer, 
	.feature-block-quiz-chosen-answer:focus,
	.feature-block-quiz-chosen-answer:hover {
		background: #DFF1E9;
		color: #3A784B;

		&:after{
			content: $symbol-tick;
		}
	}	
}

.feature-block-quiz-container{
	.slick-list {
		margin-bottom: 0;
	}
}

.feature-block-quiz-answer-image{
	margin: auto;
	padding-bottom: 18px;
	padding-top: 18px;

	@media #{$medium-up}{
		padding-top: initial;
	}
}

.feature-block-quiz-answer-list {
	.feature-block-quiz-answer-item:first-child {
		.feature-block-quiz-answer-image{
			padding-top: initial;
		}
	}
}

