.home-container {
	padding-top: 0;
	text-align: center;

	@media #{$medium-up}{
		text-align: left;
	}
}

.home-top-section-container{
	position: relative;

	@media #{$medium-up}{
		img{
			height: 310px;
		}
	}

	@media #{$large-up}{
		img{
			height: 360px;
			margin-top: 20px;
		}
	}
}

.home-module-separator {
	border-top: 2px solid #EEE;
	padding-top: rem-calc(46);
}

.home-module-container {

	@media #{$medium-up}{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: left;
	}

	&-item {
		position: relative;
		margin-bottom: 30px;

		@media #{$medium-up}{
			flex: inherit;
		}

		@media #{$large-up}{
			flex: 0 472px;
		}
	}
}

.home-module-heading {
	@extend .font-style-promo-link;
}

.home-module-recommended-counter-container{
	position: absolute;
	right: -2px;
	top: -2px;
	display: none;
	
	&.show{
		display: block;
	}

	@media #{$medium-up}{
		right: -6px;
		top: -6px;
	}

	&:before {
		@extend .material-icons;
		@extend .home-highlight-star;
		content: 'star';
		position: absolute;
		left: 0;
		display: block;
	}

	&-item {
		font-size: rem-calc(16);
		font-weight: bold;;
		width: rem-calc(36);
		line-height: rem-calc(36);
		position: relative;
		z-index: 100;

		@media #{$medium-up}{
			width: rem-calc(48);
			line-height: rem-calc(48);
		}
	}
}

body[data-os="linux"] {
	// Adjust for android phones
	.home-module-recommended-counter-container {
		&-item {
			width: rem-calc(40);
		}
	}
}
.home-module-image-container {
	position: relative;
	border-radius: 100px;
	background-color: #EEE;
	height: 130px;
	width: 130px;
	padding-top: 27px;	
	margin: 0 auto 16px auto;
	text-align: center;

	@media #{$medium-up}{
		float: left;
		height: 144px;
		width: 144px;
		padding-top: 30px;
		margin-right: 20px;	
		margin-bottom: 0;
	}
	
	&-item {
		height: 76px;
		@media #{$medium-up}{
			height: 84px;
		}
	}

}

.home-module-hint {
	position: relative;
	background: #E8E8D4;
	display: inline-block;
	border-radius: $global-radius;
	line-height: rem-calc(35);
	text-align: center;
	color: $black;
	font-size: rem-calc(14);
	font-weight: bold;
	margin-bottom: rem-calc(28);
	padding: 0 20px;


	&__container{
		text-align: center;
	}

	@media #{$medium-up}{
		position: absolute;
		top: -50px;
		margin-left: 166px;
	}

	&:after{
		content:' ';
		width: 100%;
		height: 24px;
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDMxIDI0Ij48dGl0bGU+ICBUcmlhbmdsZTwvdGl0bGU+PGRlc2M+ICBDcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBmaWxsPSJub25lIj48ZyBmaWxsPSIjRThFOEQ0Ij48cG9seWdvbiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTQ1IC05NDApdHJhbnNsYXRlKDIxIDkwMSl0cmFuc2xhdGUoMTM5LjUgNTEpcm90YXRlKDE4MCl0cmFuc2xhdGUoLTEzOS41IC01MSkiIHBvaW50cz0iMTM5LjUgMzkgMTU1IDYzIDEyNCA2MyIvPjwvZz48L2c+PC9zdmc+") no-repeat;
		background-position-x: 50%;
		position: absolute;
		bottom: -16px;
		left: 0;

		@media #{$medium-up}{
			background-position-x: 20px;
		}
	}
}

.home-highlight-star {
	font-size: 36px;
	color: #FEA92C;
	vertical-align: bottom;

	@media #{$medium-up}{
		font-size: 48px
	}
}

.home-top-section{
	margin: auto;
	padding-top: rem-calc(20);

	@media #{$medium-up}{
		position: absolute;
		padding-top: rem-calc(50);
		right: 0;
		top: 0;
		width: 50%;
	}
}


.home-second-section{
	background: $white;
	color: $oil;
	text-align: center;

    padding-top: rem-calc(30);
    @media #{$medium-up}{
    	padding-top: rem-calc(40);
    	padding-bottom: rem-calc(45);
    }
}

.home-third-section{
	padding-top: rem-calc(25);
	@media #{$medium-up}{
		padding-top: rem-calc(45);
	}
	text-align: center;
}

.home-heading{
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(18);
	@extend .font-style-xl-device-lg;

	&-subtext{
		margin-bottom: rem-calc(40);

		@media #{$medium-up}{
			font-size: rem-calc(22);
			margin-bottom: rem-calc(40);	
		}

		.link__promo {
			font-size: rem-calc(22);
			line-height: rem-calc(48);
		}
	}
}

.home-browse {

	color: $oil;
	font-size: rem-calc(24);
	padding-bottom: rem-calc(30);

	@media #{$large-up}{
		font-size: rem-calc(36);
		margin-bottom: rem-calc(40);
	}

}

.home-button-list{
	margin-bottom: 0;
	margin-top: rem-calc(20);

	@media #{$medium-up}{
		margin-top: rem-calc(40);
	}
}

.home-button {
	display: block;
	width: inherit;
	max-width: rem-calc(300);
	padding: 0 20px;
	line-height: rem-calc(50);
	margin-bottom: rem-calc(20);

}

.home-footer-heading{

	margin-bottom: rem-calc(10);

	@media #{$medium-up}{
		font-size: rem-calc(40);
		margin-bottom: rem-calc(30);
	}
}

.home-footer-text{
	color: $oil;

	@media #{$small-only}{
		p{
			margin-bottom: rem-calc(20);
		}
	}

}

.home-footer-button{
	font-size: rem-calc(18);
	width: 100%;

	@media #{$medium-up}{
		font-size: rem-calc(20);
		max-width: rem-calc(310);
	}
}
