
.login-container{
	min-height: rem-calc(470);
	padding-top: rem-calc(10);

	@media #{$medium-up}{
		padding-top: rem-calc(32);
		padding-bottom: rem-calc(32);
	}
}

.login-heading{

	@media #{$medium-up}{

		margin-bottom: rem-calc(50);
	}
}

.login-form{
	@media #{$medium-up}{
		max-width: rem-calc(308);
		margin: auto;
	}
}

.login-error {
	background: none !important;
}

input.login-input{
	margin-bottom: rem-calc(10);
}

input.login-radio{
	margin: 0;
}

.login-radio-row{
	margin-top: rem-calc(20);
	height: rem-calc(20);

}

.input-custom-radio-container{
	display: inline-block;
	width: 49%;
}

.login-submit{
	margin: rem-calc(20) auto;
	width: 100%;

}
