.profile-question-banner {
	background-color: #F6F6F6;	
}

.profile-question-container {
	padding-top:  rem-calc(8);
	padding-bottom: 30px;

	@media #{$medium-up}{
		padding-top: rem-calc(12);
		padding-bottom: 60px;
	}
}

.profile-question-heading{

	p{
		font-size: rem-calc(16);
		line-height: rem-calc(24);

		@media #{$medium-up}{
			font-size: rem-calc(24);
			line-height: rem-calc(40);
		}

	}
}

.profile-question-lower {
	padding-bottom: 0;	
	background: $mood-monitor-colour;
}

.profile-question__range,
.profile-question__description-block{
	width: 100%;
}

.profile-question__description-block{
	position: relative;
	line-height: rem-calc(20);
	z-index:50;
	height: 80px; 
	display: flex;
	justify-content: space-between;
}

.profile-question__description-block--negative{
	left: 0;
	bottom: 0;
	line-height: 80px;
	font-size: rem-calc(18);
	width: 30%;
}

.profile-question__description-block-value {
	text-align: center;
	font-size: rem-calc(36);
	font-weight: bold;
	line-height: 60px;
}

.profile-question__description-block--positive{
	right: 0;
	bottom: 0;
	line-height: 80px;
	font-size: rem-calc(18);
	width: 30%;
	text-align: right;
}

.profile-question__description-block--neutral{
	float: left;
	text-align: center;
	width: 100%;
	bottom: 0;

}

.profile-question--textarea{
	min-height: rem-calc(200);
	margin-bottom: rem-calc(24);
}

.profile-question__progress{
	line-height: rem-calc(50);
	text-align: center;
	position: relative;

	@media #{$medium-up}{
		line-height: rem-calc(60);
		font-size: rem-calc(24);
	}

	& .ss-icon {
		display: inline-block;
		width: rem-calc(30);
		height: rem-calc(30);

		color: $white;
		background: rgba( 52, 102, 136, 0.75);
		border-radius: 50px;
		font-size: rem-calc(16);

		margin-right: rem-calc(10);

	}
}

.profile-question__icon {
	width: rem-calc(81);
	height: rem-calc(96);

	@media #{$medium-up}{
		width: rem-calc(260);
		height: rem-calc(216);
	}

	margin: auto;

	.svg-icon{
		display: none;

		&.show-icon{
			display: block;
		}
	}

}

.profile-question__previous{
	position: absolute;
	left: 0;
	color: $link-color;
	font-size: rem-calc(18);
	font-weight: bold;

	&:hover, &:focus{
		color: $link-color-hover;

		.ss-icon {
			background: #333;
		}

	}

}



.profile-range-slider{
    border: none;
    height: 8px;

	margin-top:0;
	margin-bottom: rem-calc(30);
}

.profile-question{

	&-heading {
		min-height: 80px; 
	}

	&--inner{
		max-width: $row-width;
		margin: 0 auto;

		padding-left: $column-gutter;
		padding-right: $column-gutter;

		@media #{$medium-up}{
			// include both row and column padding
			padding-left: $column-gutter * 1.5;
			padding-right: $column-gutter * 1.5;
		}

	}

	.user-category-list{

		label {
			font-size: rem-calc(16);
			color: $oil;

			&:before {
				color: $oil;
			}
		}
	}
}

.profile-user-options__category{
	background: #fff;
	border-top: 1px solid $primary-text-color;
	border-left: 2px solid $primary-text-color;
	border-right: 2px solid $primary-text-color;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	margin: 0;
	&--first {
		border-top: 2px solid $primary-text-color;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;	
	}

	&--last {
		border-bottom: 2px solid $primary-text-color;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	&--column-start{
		@media #{$medium-up}{
			border-top: 2px solid $primary-text-color;
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
		}
	}

	&--column-end{
		@media #{$medium-up}{
			border-bottom: 2px solid $primary-text-color;
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}
	}
}

.profile-user-options__resource{
	display: inline-block;
	max-width: 75%; // allow room for link icon
}

.profile-empty-list__number{
		font-size: rem-calc(36);
		font-weight: bold;
}

.profile-empty-list__text{
	margin-bottom: rem-calc(60);
}

@media #{$medium-up}{
	.profile-empty-list-image{
		height: 144px;
	}
	.profile-empty-list__text{
		margin-bottom: 0;
	}
}

.profile-dashboard__details__item{

	padding-top: rem-calc(35);

	.feature-block-option-subheading{
		color: white;
		margin-bottom: 0;
	}

	.feature-block-option-mylist-container{
		margin-top: rem-calc(-10);
	}

	.feature-block-option-subheading,
	.feature-block-option-mylist-delete,
	.feature-block-option-mylist-input,
	.feature-block-option-mylist-add
	{
		display: none;
	}
}

.profile-dashboard__edit-only{
	display: none;
}

.profile-dashboard__details__item--edit{
	.profile-dashboard__edit-only{
			display: block;
	}

	.feature-block-option-mylist-delete,
	.feature-block-option-mylist-input,
	.feature-block-option-mylist-add{
		display: inline-block;
	}

	.feature-block-option-subheading{
		display: block;
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(10);
	}

	.feature-block-option-mylist--empty{
		display: none;
	}

}
