.search-link{

	.ss-delete{
		display: none;
	}

	&.show-search{
		.ss-search{
			display: none;
		}

		.ss-delete{
			display: inline-block;
		}
	}

}

.search-input-container {
	display: flex;
	justify-content: space-between;

	.header-nav-link {
		width: rem-calc(28);
	}
}

.search-form{

	&-close-button{
		line-height: rem-calc(60);
	}

	&__input[type="search"] {
	    display: inline-block;
	    font-size: rem-calc(28);
	    padding: 0;
	    line-height: rem-calc(60);
	    height: rem-calc(60);
	    width: 100%;
			margin-bottom: 0;
			border: none;
			background: none;

			&:focus {
				border: none;
				background: none;
			}
	}



	&__submit[type="submit"] {
	    font-size: rem-calc(24);
	    font-weight: bold;
	    line-height: rem-calc(60);
			padding: 0;
	    width: 100%;
	    text-align: center;
	    border-radius: 100px;
	    margin-top: rem-calc(20);

	    @media #{$medium-up}{
	    	margin-top: 0;
	    }
	}
}

.search-results{

	&__heading{
		font-size: rem-calc(36);
		font-weight: 200;

		margin-top: rem-calc(25);
		margin-bottom: rem-calc(30);
	}

	&__list{

		&__entry{
			padding-bottom: rem-calc(24);
			font-size: rem-calc(18);

			p:last-child{
				margin-bottom: 0;
			}
		}
	}
}
