button:focus{
	outline: 0;
}

.button {
	line-height: rem-calc(60);
	padding: 0;
}

.button:hover{
	text-decoration: none;
}

.button--invert{
	background: $button-bg-color-invert;

	color: $button-color-invert;

	&:hover,
	&:visited{
		text-decoration: none;
	}

	&:hover{
		color: $button-color-invert;
		background: $button-bg-color-hover-invert;
	}
}
