a, a:hover, a:focus {
	text-decoration: underline;
}

.display-on-focus {
	display: none;
}

a:focus {
	outline: 3px solid transparent !important;
	color: $primary-text-color !important;
	background-color: $focus-color !important;
	box-shadow: 0 -2px $focus-color,0 4px $primary-text-color !important;
	text-decoration: none !important;
	
	.hide-on-focus {
		display: none;
	}

	.display-on-focus {
		display: block;
	}
}

a.button:focus {
	outline: 3px solid $focus-color;
	outline-offset: 0;
	box-shadow: inset 0 0 0 4px $primary-text-color;
}
 
p {
	a, a:hover, a:focus {
		text-decoration: underline;
	}	
}
