.input-custom-radio-container{
	position: relative;
	vertical-align: top;

	input[type="radio"]{
		visibility: hidden;
		position: absolute;



		&+label{
			cursor: pointer;
			margin-left: rem-calc(30);

			&:before{
				font-family: $symbol-font-family;
				content: $symbol-radio-unchecked;
				font-size: rem-calc(24);
				position: absolute;
				left: 2px;
				top: -4px;			}
		}

		&:checked{
			&+label{
				&:before{
					content: $symbol-radio-checked;
				}
			}
		}
	}

}
