.input-custom-radio-container{
	position: relative;
	vertical-align: top;

	input[type="radio"]{
		visibility: hidden;
		position: absolute;

		&:checked{
			&+label{
				&:before{
					background: $white;
					border: 3px solid $oil;
				}
			}
		}

		&+label{
			cursor: pointer;
			margin-left: rem-calc(30);

			&:before{
				content: ' ';
				position: absolute;
				left: 0;
				top: rem-calc(2);
				width: rem-calc(20);
				height: rem-calc(20);

				background: $oil;

				@include border-radius(rem-calc(20));
			}
		}
	}

}
