<div id="feature-block-fact" class="module-block module-block-themed feature-block-fact">


	<div class="row">
	<div class="small-12 column">

		{% set image = entry.image.first() %}
		{% if image %}
			<img class="feature-block-fact-image" src="{{ image.imageFile.first().getUrl('small2medium') }}" alt="{{ image.imageAlt }}">
		{% endif %}
		
		<div class="content-block-sub-item feature-block-fact-text">{{entry.body}}</div>

	</div>
	</div>

</div>