<IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(localhost:8100|0.0.0.0:8100)$" AccessControlAllowOrigin=$0$1
        Header always add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS"
        Header always set Access-Control-Allow-Headers "origin, content-type, accept, X-requested-with, X-Auth-Token"
        Header always set Access-Control-Allow-Credentials: true
</IfModule>

<IfModule mod_rewrite.c>

        RewriteEngine On

        RewriteCond %{REQUEST_METHOD} OPTIONS
        RewriteRule ^(.*)$ blank.php [QSA,L]

        # Send would-be 404 requests to Craft
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
        RewriteRule (.+) index.php?p=$1 [QSA,L]


</IfModule>