{% cache %}

{% macro generateMenu(entry, currentId) %}
	{% import _self as menuMacros %}
	{% if entry is defined %}
								
		{% if entry.topMenu is defined %}
			{% for navItem in entry.topMenu %}
				{% if navItem.id == currentId %}
					<li class="off-canvas-list__item off-canvas-list__item--current">
	            		{{ navItem.title }}
	            	</li>
            		
				{% else %}
	            	<li class="off-canvas-list__item">{{ navItem.getLink() }}</li>
				{% endif %}

        	{% endfor %}

        	{% if entry.parent is defined %}
				{{ menuMacros.generateMenu(entry.Parent) }}
        	{% endif %}

		{% endif %}
       
	{% endif %}

{% endmacro %}

{% endcache %}