{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% if allowNoLogin is not defined  %}
	{% if entry is not defined or entry.pagePermission is not defined or
		entry.pagePermission is null or not
		entry.pagePermission.title('viewWhenLoggedOut').all()  %}
			{% requireLogin %}
	{% endif %}
{% endif %}

{% set lastViewed = craft.userLogin.updateLastViewed() %}
{% set headers = craft.app.request.getHeaders() %} 

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language |lower }}" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex" />

	<title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<link href="//fonts.googleapis.com/css?family=Lato:400,300,700,400italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<link rel="stylesheet" href="/resources/css/main.css"/>

	<script type="text/javascript">
	    window.craftSettings = {
	    	csrfTokenName: "{{ craft.app.config.general.csrfTokenName|e('js') }}",
	    	csrfTokenValue: "{{ craft.app.request.csrfToken|e('js') }}",
	    	actionTrigger: "{{ craft.app.config.general.actionTrigger }}",
	    	language: "{{ craft.app.language }}",
				{% if headers['moodhwbapp'] is defined %}
					appId	: "{{ craft.app.user.id}}"
				{% endif %}
	    }

	</script>


<script src="/resources/js/vendor.js"></script>

		<script>
			jwplayer.key = "RXgLBLBKEefsJKHVQMe1QQ5IFuWu8zok55wijw==";
		</script>

		<script>
      var craftEventTracker = {
        sendEvent: () => {}
      };
    </script>

	<script src="/resources/js/app-7e3c541b36.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>

<body data-os="{{ craft.request.clientOs | escape('html_attr') | lower }}">
	<div id="container">
		<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			{% if headers['moodhwbapp'] is not defined %}
			  {% include "./_partials/header.twig" %}
			{% endif %}

			<div class="content-container">
				<main id="content" role="main">
						{% block content %}
							<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
							<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
						{% endblock %}
				</main>

					<footer class="footer-container">


					<div class="row">
						<div class="text-center small-12 columns">
							<div class="footer-text-container">
								<div class="footer-text footer-text-first">{{ "Funded by the Welsh Government through Health and Care Research Wales" | t }}.</div>
								<div class="footer-text">{{ "Also supported by" | t }}</div>
							</div>
							<div class="footer-image-container">
									<img class="footer-image" src="/resources/images/cardiff-university.svg" alt="Cardiff University logo" />
									<img class="footer-image" src="/resources/images/hcrw.svg" alt="Health and Care Research Wales logo" />
									<img class="footer-image-small" src="/resources/images/nihr.svg" alt="NHS National Institute for Health Research logo" />
									<img class="footer-image" src="/resources/images/wolfson-logo.svg" alt="Wolfston Centre logo" />
									<img class="footer-image-small" src="/resources/images/university-of-glasgow.svg" alt="University of Glasgow logo" />
									<img class="footer-image" src="/resources/images/nhswales-logo.svg" alt="NHS Wales logo" />
							</div>
						</div>
					</div>

					{% if headers['moodhwbapp'] is not defined %}
					<div class="footer-bottom__container hide-for-print">
						<div class="row">
							<div class="small-12 column">
								<ul class="footer-links-list">
									<li class="footer-links-list-item">
										<a class="footer-nav-link" href="{{ url('help/cookies') }}">{{ "Cookies" | t}}</a>
									</li>
									<li class="footer-links-list-item">
										<a class="footer-nav-link" href="{{ url('help/confidentiality') }}">{{ "Privacy policy" | t}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="show-for-print">
						{{ craft.request.getUrl() }}
					</div>
				{% endif %}

				</footer>

			</div>
		</div>
		</div>
	</div>




	<script>
	  $(document).foundation({
	  	"magellan-expedition": {
	  		"destination_threshold": 70
	  	}
	  });

	</script>

	{% block jsBlock %}
	{% endblock %}

	{% if craft.app.config.general.useGoogleAnalytics and currentUser and currentUser.userId %}

	<script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-analytics.js";
		// TODO: Add SDKs for Firebase products that you want to use
		// https://firebase.google.com/docs/web/setup#available-libraries
	  
		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		const firebaseConfig = {
		  apiKey: "AIzaSyCyFzTi_BGVeHSp94pF0qFgDm7t_QQpcnw",
		  authDomain: "moodhwb-analytics.firebaseapp.com",
		  projectId: "moodhwb-analytics",
		  storageBucket: "moodhwb-analytics.appspot.com",
		  messagingSenderId: "306849293148",
		  appId: "1:306849293148:web:06494fb5120286d2219799",
		  measurementId: "G-Y4S2ZQ8H0N"
		};
	  
		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	  </script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YQEPDBKBEC"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		// gtag('config', 'G-YQEPDBKBEC', {'user_id': '{{ currentUser.userId }}'});
		gtag('set', 'user_properties', {'particpant_id' : '{{ currentUser.userId }}'});
		// {% if headers['moodhwbapp'] is not defined %}
		// 	gtag('set', 'user_properties', {'app_type' : 'web'});
		// {% endif %}
</script>

	{% endif %}

</body>
</html>
