{#
 # Homepage template
 # ---------------
 #}
{% set userStatus = craft.userLogin.getUserStatus() %}
{% set summaryScore = craft.profiler.getSummaryMoodScore() %}
{% set lastViewedModuleId = craft.moduleactions.getLastViewedModuleId() %}
{% if lastViewedModuleId %}
	{% set lastViewedModule = craft.entries.id(lastViewedModuleId).first() %}
	{% set parentTitle = lastViewedModule.parent.title %}
{% endif %}

{% extends "_layout" %}

{% block content %}

	<div class="primary-panel home-container">
		
		<div class="row"><!--
		--><div class="small-12 column">
			<div class="home-top-section-container">
					{% switch userStatus %}
						{% case "newUser" %}
								{% include "./_partials/homepage-new-user-header.twig" %}
						{% case "unansweredQuestions"%}
							{% include "./_partials/homepage-user-unanswered.twig" %}

						{% case "returnShort" %}
							{% include "./_partials/homepage-user-return-short.twig" %}

						{% case "returnMedium" %}
							{% include "./_partials/homepage-user-return-medium.twig" %}

						{% case "returnLong" %}
							{% include "./_partials/homepage-user-return-long.twig" %}

					{% endswitch %}				

				</div>
			</div>
		</div>

		<div class="home-second-section">
			<div class="home-browse">
				{{ "Or just let me browse the topics"| t}}
			</div>

		{% set modules = craft.entries.section('modules').level('1') %}

			<div class="row">
			{% for module in modules %}	

				<div class="small-12 medium-4 column ">
					<div class="{{ module.moduleColour }}">
			
						<h4 class="profile-dashboard-module-heading invert-module-block-themed">

						<a href="{{ module.url }}">
						{% set image = module.image|first %}

							<div class="profile-dashboard-module-image-container">
							{% if image %}
							   <img class="profile-dashboard-module-image" src="{{ image.imageFile.one().url }}" alt="{{ image.imageAlt }}" />
							{% endif %}
							</div>
	
						{{ module.title }}
						</a>

						</h4>
					{{ module.body }}

					</div>
					
				</div>

				{% if loop.index is divisible by(3) %}
				</div>
				
				<div class="row">
				{% endif %}


			{% endfor %}
			</div>
		</div>
	
		<div class="home-third-section">
			{% include '_partials/footer_v2' %}
		</div>

		{% if entry.video %}
			{% include '_partials/video' %}
		{% endif %}
	</div>
	{% include '_partials/strapline' %}



{% endblock %}
