{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

	{# Redirect is user has already completed #}
	{% if currentUser.hasProfile and not craft.app.request.getQueryParam('view') %}

		{% redirect "profile/dashboard" %}

	{% else %}


	<div class="primary-panel home-container">
		
		<div class="row"><!--
		--><div class="small-12 column">
			<div class="home-top-section-container">
				<div class="show-for-medium-up">
					{% for image in entry.image %}
						<img alt="{{image.imageAlt}}" src="{{ image.imageFile.one().getUrl() }}">
					{% endfor %}
				</div>
				<div class="text-center home-top-section">
					<h1 class="light-heading home-heading">
					{{ entry.heading }}
					</h1>
					<span class="link link__video"><span class="ss-icon ss-play link--dark__icon"></span><a id="videoPlay" href="#" class="link--dark">{{ "Play introduction video" | t }}</a></span>

					<ul class="home-button-list">
						<li>

							<a href="{{ actionUrl('profiler/question/hereFor', { hereFor: 'self' }) }}" class="button round home-button">{{ "I'm here for myself" | t}}</a>
						</li>

						<li>
							<a href="{{ actionUrl('profiler/question/hereFor', { hereFor: 'other' }) }}" class="button round home-button">{{ "I'm here for someone else" | t}}</a>
						</li>

					</ul>
					

				</div>
			</div>
		</div>
		</div>

		<div class="home-second-section">
			<div class="home-browse">
				{{ "Or just let me browse the topics"| t}}
			</div>

		{% set modules = craft.entries.section('modules').level('1') %}

			<div class="row">
			{% for module in modules %}	

				<div class="small-12 medium-4 column ">
					<div class="{{ module.moduleColour }}">
			
						<h4 class="profile-dashboard-module-heading invert-module-block-themed">

						<a href="{{ module.url }}">
						{% set image = module.image|first %}

							<div class="profile-dashboard-module-image-container">
							{% if image %}
							   <img class="profile-dashboard-module-image" src="{{ image.imageFile.one().url }}" alt="{{ image.imageAlt }}" />
							{% endif %}
							</div>
	
						{{ module.title }}
						</a>

						</h4>
					{{ module.body }}

					</div>
					
				</div>

				{% if loop.index is divisible by(3) %}
				</div>
				
				<div class="row">
				{% endif %}


			{% endfor %}
			</div>
		</div>
	
		<div class="home-third-section">
			{% include '_partials/footer_v2' %}
		</div>

		{% if entry.video %}
			{% include '_partials/video' %}
		{% endif %}
	</div>
	{% include '_partials/strapline' %}

	{% endif %}

{% endblock %}
