/* Themes */
$primary-color: rgb(52, 102, 136);
$dark-primary-color: rgb(61, 148, 144);
$menu-background-current: #2D5976;
$menu-color: #fff;
$menu-color-highlight: #F7C53E;
$highlight-colour: rgb(133, 133, 133);
$mood-monitor-colour: #76D0CA;
$profile-colour: $mood-monitor-colour;
$range-slider-bg: rgba(51, 51, 51, 0.5);
$range-slider-border: rgba(0, 0, 0, 0);

$primary-text-color:#333;
$button-bg-color: #2D5976;
$button-bg-hover: #2D5976;
$link-color: #2D5976;
$link-color-hover: #2D5976;
$mood-color-positive: #50A667;
$mood-color-neutral: #FEC236;
$mood-color-negative: #FD4048;

@import "foundation-settings";

/* Colours */
$white: #fff;
$dark: #3f3d32;

/* Symbol font settings */
$symbol-font-family: 'Material Icons';
$symbol-font-default-size: rem-calc(24);
$symbol-chevron-up: 'expand_less';
$symbol-arrow-right: 'arrow_forward';
$symbol-arrow-left: 'arrow_back';
$symbol-video-play: 'play_arrow';
$symbol-video-replay: 'replay';
$symbol-video-loading: 'autorenew';
$symbol-checked: 'done';
$symbol-module-arrow: '\25B4';
$symbol-section-pointer: '\25BE';
$symbol-tick: '\2713';
$symbol-bookmark: '\1F516';
$symbol-delete: '\2421';
$symbol-star: 'star';

$module-nav-height: 50;

$button-bg-color-invert: rgba(255,255,255,1);
$button-bg-color-hover-invert: rgba(0,0,0,0.3);
$button-color-invert: $oil;

$themes: (
	theme-1: (
		background: #4589b6,
		color: $white
	),
	theme-2: (
		background: #42b389,
		color: $white
	),
	theme-3: (
		background: #f7c53e,
		color: $dark
	),
	theme-4: (
		background: #f9a73c,
		color: $dark
	),
	theme-5: (
		background: #75d3ca,
		color: $dark
	),
	theme-6: (
		background: #f7737c,
		color: $dark
	),

)
